# Python Artifacts
__pycache__/
*.pyc
.ipynb_checkpoints/
venv/
.env/

# Datasets and Binaries
pipeline_vision/data/*.csv
pipeline_vision/data/*.npy
pipeline_vision/data/*.txt
pipeline_vision/data/*.png
pipeline_vision/data/*.json
pipeline_vision/data/emnist_source_files/*

# Explicit Whitelists
!models/
!pipeline_vision/data/plots/
